**If Else, Loops, While Loops and python statments**

In [2]:
# syntax ->   if some_condition:
#                execute code
#             elif:
#                do smth else
#             else:
#                do smth else

if 2>3:
  print("its true")
else:
  print("its false")

its false

In [5]:
loc = "bank"

if loc == "Auto Shop":
  print("cars")
elif loc == "bank":
  print("money")
else:
  print("easy")

money

**For Loop**

In [7]:
# syntax ->   
#             my_loop = [1,2,3]
#             for items in my_loop:
#                 print(items)

myList = [1,2,3,4,5]

for num in myList:
  print(num)

1
2
3
4
5

In [10]:
for num in myList:
  # Check for even
  if num % 2 == 0:
    print(num)
  else:
    print(f"odd num {num}")

odd num 1
2
odd num 3
4
odd num 5

In [12]:
list_sum = 0

for num in myList:
  list_sum = list_sum + num

print(list_sum) # notice that print is not in the scope of loop here

15

In [14]:
my_str = "Hello World"

for letter in my_str:
  print(letter.upper())

H
E
L
L
O

W
O
R
L
D

In [23]:
# list with tuple items in it
mytup = ((1,2),(3,4),(5,6))
myList = list(mytup)


len(myList)

3

In [34]:
for (a,b) in myList: #tupe unpacking or destructuring
  print(b)

2
4
6

In [35]:
for (a,b) in myList: #tupe unpacking or destructuring
  print(a)

1
3
5

In [36]:
# iterate thru dicts

d = {"k1":1,"k2":3, "k3": 5}

for item in d: # it will iterate thru keys by default
  print(item)

k1
k2
k3

In [38]:
for item in d.values(): # it will iterate thru keys
  print(item)

1
3
5

In [39]:
for item in d.items(): # it will iterate thru keys
  print(item)

('k1', 1)
('k2', 3)
('k3', 5)

**While Loop**

In [43]:
# continue to execute the block of code while some condition is true
#syntax ->  
#     while my_condition:
#        #do smth
#     else:                         # we can also use else here if condition is not longer true
#         # do smth else

x = 0

while x < 5:
  print(f"the current value of x : {x}")
  x = x + 1
else:
  print("not less than 5")

the current value of x : 0
the current value of x : 1
the current value of x : 2
the current value of x : 3
the current value of x : 4
not less than 5

**Break, Continue, Pass**

Break: breaks thru the loop current enclosing loop
continue: Goes to top of the closest enclosing loop
pass: Does nothing

In [45]:
x = [1,2,3]

for item in x:
  pass # it does nothing and end the loop and run other code

print("hello")

hello

In [46]:
myStr = "Irtaza"

for letter in myStr:
  if letter == "a":  # if the letter in str is a go ahead and continue from the top again
    continue
  print(letter)

I
r
t
z

In [49]:
x = 0

while x < 5:
  if x == 3:
    break
  print(x)
  x += 1

0
1
2

**Useful Operators in Python**

**range()**

In [51]:
# range() ->  loop through a set of code a specified number of times
myList = [1,2,3,4,5]

for num in range(4): 
  # it takes few pramas start, stop, step
  # if we indicate the single num it will generate num upto but not including 4
  print(num)

0
1
2
3

In [53]:
for num in range(2,5):
  # if we indicate start and stop
  # it will start from 2 and generate num upto but not including 5
  print(num)

2
3
4

In [55]:
for num in range(0,5,2):
  # third argument is step size
  print(num)

0
2
4

In [56]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

**enumerate()**

In [57]:
word = "abcde"

for item in enumerate(word): # it is index counting for us in the form of tuples
  print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [58]:
for index,letter in enumerate(word): # unpacking / destructuring
  print(letter)

a
b
c
d
e

**zip()**

In [59]:
# tuple unpacking and destructuring is really usefull because alot of functions returns tuples
list1 = [1,2,3]
list2 = ["a","b","c"]

zip(list1,list2) # it will create a zip on particular memory loc

In [60]:
for item in zip(list1,list2):
  print(item) # returns tuples, useful when you have two array and want to zip them side by side

(1, 'a')
(2, 'b')
(3, 'c')

In [62]:
for index,item in zip(list1,list2): # tupple unpacking
  print(item)

a
b
c

In [63]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

**in**

In [64]:
"x" in [1,2,3]

False

In [65]:
# in usually works in different data types
"key1" in {"key1": 1234}

True

In [67]:
d = {"key1": 1234}
1234 in d.values()

True

**Input functions from built in library**

In [68]:
from random import shuffle

In [69]:
# now we can use random to suffle any sort of list
myList = [1,2,3,4,5,6,7]
shuffle(myList)
myList

[6, 4, 7, 1, 2, 3, 5]

In [76]:
# grabbing a random in
from random import randint

In [77]:
randint(0,99) # returns the random num

48

In [79]:
result = input("enter the input ") # to take input
result

enter the input irtaza

'irtaza'

**list  Comprehensions**

if you find yourself using for loop along with .append() to create a list
list comprehensions are good alternatives

In [82]:
myStr = "Hello World"
myList = []

for letter in myStr:
  myList.append(letter)

myList

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [84]:
# we can also do this
myList = [letter for letter in myStr]
myList

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [85]:
myList = [num**2 for num in range(0,5)]
myList

[0, 1, 4, 9, 16]

In [87]:
# grab even num
myList = [x for x in range(0,11) if x%2==0]
myList # if its confusing you can always go back to traditional methods

[0, 2, 4, 6, 8, 10]