**Lambda Expressions Map & Filter**

**Map**

In [1]:
# lmabda functions are anonymous functions that you use once and never reference them again

def square(num):
  return num**2

In [3]:
my_nums = [1,2,3,4,5]

# one way to find the square of every item inside list is to apply a for loop
# instead we can use map to do that
# it will map thru every item in the list

# map requires a function and *iterables

map(square,[2,3,4])

In [4]:
for item in map(square,[2,3,4,5]): # it will iterate thru the list and apply the function
  print(item)

4
9
16
25

In [5]:
# if we want to get back the list of squared nums
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [7]:
# lets take another exp

def splicer(mystr):
  if len(mystr)%2 == 0:
    return "EVEN"
  else:
    return mystr[0] 

names = ["irtaza","murtaza","ali"]
list(map(splicer,names))     # returns even for even number of letter and single letter for odd num of letters

['EVEN', 'm', 'a']

**Filter**

filter by function that returns either true or false

In [10]:
def check_even(num):
  return num%2==0

mynums = [1,2,3,4,5,6]

list(filter(check_even,mynums))

[2, 4, 6]

In [13]:
for n in filter(check_even,mynums):
  print(n)

2
4
6

**Lambda Expressions**

In [14]:
def square(num): # we define a function as usual
  result = num ** 2
  return result

In [15]:
square(2)

4

In [ ]:
# turn this function into lambda expression

def square(num):
  return num ** 2

# or we can do this as

def square(num): return num ** 2  # it not like this by convention but python lets us do this as well

In [ ]:
# we're almost in the form of lambda expxression
# lambda expression is also known as the anonymous function 
# the reason for that is because its some functionality that you only intend to use one time
# because of that we don't actually have to use a name or the def keyword
# so replace by keyword lambda

lambda num: num ** 2 # we also remove the return keyword because it assume that it need to return what is other side of the colon

# this is now a lambda expression

In [17]:
mysquare = lambda num: num ** 2
mysquare(2)

4

In [19]:
# alot of the time you're going to be using it with conjuction to ptehr functions
list(filter(lambda num: num%2 == 0,mynums))

[2, 4, 6]

In [20]:
name = ["irtaza","ali" ,"murtaza"]
list(map(lambda x:x[0],names))

['i', 'm', 'a']



---