**Lists, Dictionaries, Tuples, Sets and other basics**

lists are ordered sequences that can hold variety of objects
it supports indexing and slicing and other useful methods

In [1]:
#lists
my_lists = [1,"strong",32.2]
my_lists

[1, 'strong', 32.2]

In [2]:
len(my_lists) #checking the len of the list

3

In [5]:
#indexing
my_lists[1]

'strong'

In [8]:
#slicing
my_lists = ["one","two","three","four","five"]
my_lists[2:]

['three', 'four', 'five']

In [9]:
my_lists[::2] # step size

['one', 'three', 'five']

In [10]:
# lists concetenating
other_lists = ["six","seven"]
my_lists + other_lists

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [11]:
# Notice that we didn't saved the results of concatenated lists so can can actually get two lists individually
my_lists

['one', 'two', 'three', 'four', 'five']

In [12]:
other_lists

['six', 'seven']

In [14]:
# lets save it to some variable
newList = my_lists + other_lists
newList

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

string is immutable but in lists we can change the items in the lists

In [15]:
newList[0] = "changed"
newList

['changed', 'two', 'three', 'four', 'five', 'six', 'seven']

In [16]:
newList.append("hello") # add item to the end of the lsit
newList

['changed', 'two', 'three', 'four', 'five', 'six', 'seven', 'hello']

In [17]:
newList.pop() # remove the item from the end
newList

['changed', 'two', 'three', 'four', 'five', 'six', 'seven']

In [21]:
newList.pop(0) # remove the item from the index position you mentioned
newList

['three', 'four', 'five', 'six', 'seven']

**Sort and Reverse a List**

In [23]:
new_list = ["a","e","x","b","u"]
num_list = [1,5,3,6,8,]

#sort
num_list.sort()
num_list

[1, 3, 5, 6, 8]

In [24]:
new_list.sort()
new_list

['a', 'b', 'e', 'u', 'x']

In [26]:
# now if you want to save the sorted list using sort method
# it doesn't actually return anything
sorted_list = new_list.sort()
sorted_list # you get back nothing

In [27]:
type(sorted_list)

NoneType

In [28]:
# so if you want to save that we need to do this
new_list.sort()
my_sorted_list = new_list
my_sorted_list

['a', 'b', 'e', 'u', 'x']

In [31]:
# reverse the list
num_list.reverse()
num_list

[8, 6, 5, 3, 1]

**Dictionary**

Dictionaries are unordered mappings for storing objects and use a key value pairing.

In [32]:
# we can retrieve the value by the key name
my_dict = {"key1": "value1","key2":"value2","key3":"value3"}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [34]:
my_dict["key3"] # using key to reteirve the value

'value3'

In [35]:
my_dict = {"apple": 1.2,"mango":2.99,"orange":1.99}
my_dict["apple"]

1.2

In [39]:
# dictionaries can hold int, str, floats as well as lists and other dicts
d = {"k1": 123,"k2":[0,1,2,3], "k3":{"insideKey":100}, "k4": "c"}
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insideKey': 100}, 'k4': 'c'}

In [37]:
d["k2"]

[0, 1, 2, 3]

In [38]:
# let say we need 100 so we ccan do it as
d["k3"]["insideKey"]

100

In [40]:
d["k4"].upper()

'C'

In [41]:
d["k1"] = "new Value" # we can also can values here
d

{'k1': 'new Value', 'k2': [0, 1, 2, 3], 'k3': {'insideKey': 100}, 'k4': 'c'}

In [42]:
d.values() # returns the values

dict_values(['new Value', [0, 1, 2, 3], {'insideKey': 100}, 'c'])

In [43]:
d.keys() # return the keys

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [44]:
d.items() # get the pairs together

dict_items([('k1', 'new Value'), ('k2', [0, 1, 2, 3]), ('k3', {'insideKey': 100}), ('k4', 'c')])

**Tuples**

Tuples are very similar to lists but they are immutable means we can not chnage the values

In [47]:
t = (1,"two",3) # use () for tuples
type(t)

tuple

In [48]:
t

(1, 'two', 3)

In [49]:
# just like lists we can use slicing and indexed because tuples are more like lists but only diff is that we can't reassign the values onnce tuple is created
# we can use methods of list for tuples also
# so lets see the basic methods for tuples
# index and counting

t = ("a","a","b")
t.count("a") # returns how many times a appears in tuple

2

In [51]:
t = (1,2,3,4,5,6,6,7,8,8)
t.index(6) # return the first find index in which the value 6 is

5

**Sets**

Sets are unordered collection of unique elements

In [52]:
myset = set()
myset

set()

In [53]:
# lets add elements to the set
myset.add(1)
myset # notice it looks like dict here because of {} but its not as there no key value pair

{1}

In [54]:
myset.add(2)
myset

{1, 2}

In [56]:
myset.add(2)
myset # it only accepts unique values that's why it doesn;t store 2 again in the set

{1, 2}

In [57]:
# more efficeint method for add elements to the set is by list for when you wnat only unique values
myList = [1,1,1,1,3,3,4,4,5,6,7,7]
set(myList)

{1, 3, 4, 5, 6, 7}