<a href="https://colab.research.google.com/github/syedali2022skipq/Python-Basics/blob/main/Python_Objects_and_Data_Types_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Python Objects and Data Types Basics

**Numbers**

In [14]:
# mod
#23 % 2

# power
2 ** 3

8

**Python is dynamically typed which means in python you can switch between types easily. in other languages if you declare a variable as int and later in the code you assigned it an array it will give and error but not in python. pros are that its fast and easy to use and cons are you have to know the data types you are working with**

In [16]:
my_arr = 2
my_arr = ["irtaza"]
print(my_arr)

['irtaza']

**Variables**

In [19]:
a = 5
type(a)

int

**Strings**

In [28]:
# we can use indexing and slicing to get the sub-sections of the strings
# you can use [] to get the individual string character
# you can also reverse the string so if you want to get the last letter of the str just say -1 and it will return the last letter

len("hello") # to find the length

5

In [29]:
# String indexing and slicing
# indexing -> grab single char and slicing -> sub-section

my_string = "abcdefghijklmnopqrs"
my_string[5]

'f'

In [30]:
# reverse indexing
# my_string[-2]

#slicing
# my_string[Start:stop:step]
#start means slice the srting from that index, stop means to that index but not include that index, step -> size of the jump you take

my_string[2:] # it will return string form 2nd index to ownwards

'cdefghijklmnopqrs'

In [31]:
my_string[:3] # grab upto 3rd index and third index doesn't include in it

'abc'

In [32]:
my_string[2:9]

'cdefghi'

In [ ]:
my_string[::] # all the way from begining to the end

In [35]:
my_string[::2] # step size of 2 means it will grab the string with with jums of two like a to c to e etc

'acegikmoqs'

In [36]:
# we can also reverse the string using the step size
my_string[::-1]

'srqponmlkjihgfedcba'

**String properties and Methods**

In [41]:
# Immutability
# immutability -> can't change
name = "sam"
# name[0] = "p" 
# it will through error because strings are immutable and in this exp we can't chcnage first letter to p
# if we want to chnage it, we have to make a new string and use concatenation to join two strings

# string concatenation
last_letter = name[1:]
"p" + last_letter

'pam'

In [42]:
# muliple string concetenations
last_letter * 10

'amamamamamamamamamam'

In [44]:
# you can't concetenate diff types
last_letter + 12
# it will through error

**Methods**

In [53]:
x = "hello"
x.capitalize() #it will not change the original str
x

'hello'

In [52]:
# to change the original str you have to do this
x = x.capitalize()
x

'Hello'

In [54]:
x.upper()
x

'HELLO'

In [62]:
# decalre and put . in the end python will show you all the methods available
x = "Hello World it is good"
x.split()

['Hello', 'World', 'it', 'is', 'good']

In [63]:
# we can also split on individual letter
x.split("i") # it basically removed i from the string

['Hello World ', 't ', 's good']

**string fomatting for printing**

In [64]:
print("hello : " + x) # one way of traditional string formation

hello : Hello World it is good

In [70]:
# two methods for formatting objects into strings
# .format()
# f-strings(formatted string)

# formatting with .format() method
print("this is a string {}".format("abc")) #it will insert abc into the curly brackets

this is a string abc

In [71]:
# we can also use indexing here and choose where to put the objects
print("hello {2} {0} {1} ".format("fox","brown","quick"))

hello quick fox brown

In [72]:
# we can also use variable names for indexing
print("hello {q} {f} {b} ".format(f ="fox",b= "brown",q ="quick"))

hello quick fox brown

**float formatting**

In [75]:
# float fromatting -> "{value:width.precision f}" 
result = 100/777
print("this is value {r:1.3}".format(r=result)) # 1 means width and 3 means precision upto how many decimal points

this is value 0.129

In [76]:
# string literal method fstring
name = "jose"
print(f"hello, {name}")

hello, jose

In [77]:
name = "sam"
age = 3
print(f"name is {name}, he is {age} years old")

name is sam, he is 3 years old